@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #a3a3a3;
  --foreground: #171717;
}

.containers {
  @apply 
    flex 
    flex-row 
    min-h-screen 
    mx-auto 
    gap-3
    rounded-xl 
    bg-white 
    p-3 
    shadow-lg 
    outline 
    outline-black/5 
    dark:bg-slate-800 
    dark:shadow-none 
    dark:-outline-offset-1 
    dark:outline-white/10;
    background-color: var(--background);
}

.page-container {
  @apply 
    flex 
    flex-col 
    /* items-center 
    justify-center  */
    /* min-h-screen  */
    px-4 
    py-8 
    bg-white 
    text-gray-800 
    dark:bg-slate-800 
    dark:shadow-none 
    mr-px
    border-2
    w-full
    h-full;
    border-radius: 10px;
}

.botoes {
  @apply 
    w-full 
    px-4 
    py-2 
    text-left 
    text-sm 
    font-semibold 
    text-gray-700 
    bg-gray-300 
    hover:bg-gray-400 
    rounded-md  
    transition-all
}

.titulo-h1 {
  @apply 
    text-black  
    italic 
    text-3xl 
    font-bold 
    mb-6
}